* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* start header */
.container {
  /* max-width: content ở giữa và tự canh chỉnh theo kích thước màn hình với độ rộng tối đa  */
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}
header i {
  color: #e8e8e8;
  font-size: 30px;
}
/* flex: vào thẻ cha để di chuyển thẻ con */
.header_container {
  /* display: flex đưa các thẻ con lên trục chính */
  display: flex;
  height: 80px;
  align-items: center;
  /* mặc định: trục chính = chiều bngang */
  /* justify-content: trục chính -> chiều ngang */
  justify-content: space-between;
  /* flex-direction: column; */
}
.header_container a {
  text-decoration: none;
  margin-left: 40px;
  text-transform: uppercase;
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 500;
}
.header_container a.active {
  color: #e62b4a;
}
.logo {
  font-size: 30px;
  color: #e8e8e8;
}
/* end header */
/* start banner */
.banner {
  background: url("../newimage-video/image-video/home_slider.jpg");
  height: 90vh;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_container {
  border: 2px solid orange;
  width: 40%;
  text-align: center;
  color: #e8e8e8;
}
.banner_container h2 {
  font-size: 40px;
  margin: 30px 0;
  font-weight: 900;
}
.banner_container button {
  color: #e8e8e8;
  background-color: #e62b4a;
  padding: 20px 40px;
  border: none;
  font-size: 20px;
  transition: 0.3s;
}
/* button:hover đổi màu thẻ button khi di chuyển chuột vào ô  */
.banner_container button:hover {
  color: #af2239;
  cursor: pointer;
}
.banner_container p {
  font-size: 20px;
}
.banner_container i {
  font-size: 50px;
  color: #e8e8e8;
  animation-name: arrow1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes arrow1 {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes arrow2 {
  0% {
    color: blue;
    transform: scale(0.1) translateX(0px) rotate(0deg);
  }
  50% {
    transform: scale(2) translateX(100px) translateY(100px) rotate(180deg);
    color: red;
  }
  100% {
    color: yellow;
    transform: scale(1) translateX(-100px) rotate(-180deg);
  }
}
/* end banner */
/* start carousel */
.carousel_title {
  text-align: center;
  margin-bottom: 50px;
}
.carousel {
  padding: 80px;
  background-color: black;
  color: white;
}
.carousel_item {
  height: 250px;
  padding: 0 10px;
}
.item_container {
  background-color: white;
  color: #888888;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}
.item_container::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: #e62b4a;
  top: -100%;
  right: 0;
  transition: 0.3s;
}
.item_container:hover::before {
  top: 0;
}
.carousel_item i {
  font-size: 50px;
}
.slick-dots li.slick-active button:before {
  color: red;
}
.slick-dots li button:before {
  color: white;
  font-size: 14px;
  opacity: 0.75;
}
.slick-dots {
  bottom: -40px;
}
/* end carousel */

/* start blogs */
.blogs_list {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.blogs_item img {
  width: 100%;
  height: 100%;
  filter: grayscale(50%) contrast(50%);
}

.blogs_item.item-1 {
  /* start - end */
  grid-column: 1 / 3;
  grid-row: 1 /3;
}
.blogs_item.item-2 {
  /* start - count */
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
.blogs_item {
  position: relative;
}
.blogs_item:hover .item_overlay {
  opacity: 1;
}
.item_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 43, 74, 0.6);
  opacity: 0;
  transition: 0.5s;
}

.overlay_item {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  transform: translateY(30px);
  transition: 0.5s;
}
.overlay_search {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  transform: translateY(30px);
  transition: 0.5s;
}
.blogs_item:hover .overlay_search {
  transform: translateY(0px);
}
.blogs_item:hover .overlay_item {
  transform: translateY(0px);
}
/* end blogs */

/* start number */
.number {
  padding: 80px o;
  background: #000;
  color: #fff;
}
.number__container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.number__item h3 {
  font-size: 70px;
  /* google fontweight: 300 */
  font-weight: 300;
}
/* end number */

/* start experience */
.experience {
  background-image: url(./newimage-video/image-video/bussiness_img_1.jpg);
  padding: 80px 0;
  background-size: cover;
  background-attachment: fixed;
}
.experience video {
  width: 100%;
}
.experience__title {
  margin-bottom: 40px;
  text-align: center;
  color: white;
}
.experience__title h2 {
  font-size: 50px;
  font-weight: 400;
}
.experience__title h3 {
  color: #e62b4a;
  font-size: 14px;
}
.experience__title p {
  color: #888;
}
/* end experience */
